:root {
  --color-hoverfocus-red: #c7133e;
  --color-hoverfocus-gray: #ecebeb;
  --color-text-primary: #000000;
  --color-text-secondary: #907e82;
  --color-text-red: #d41443;
  --color-text-pink: #ffa5ba;
  --color-text-white: #ffffff;
  --color-background-pink: #ffb8ca;
  --color-background: #fff5f6;
}
