<section class="about">
  <div class="container">
    <p class="about__pre-title">100% natural</p>
    <h2 class="about__title">products</h2>
    <ul class="about__list">
      <li class="about__item">
        <div class="about__content">
          <h3 class="about__name">ice cream</h3>
          <p class="about__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="about__btn">
            <svg class="about__icon" width="10" height="10">
              <use href="/src/images/icons.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="about__item">
        <div class="about__content">
          <h3 class="about__name">ice coffee</h3>
          <p class="about__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="about__btn">
            <svg class="about__icon" width="10" height="10">
              <use href="/src/images/icons.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="about__item">
        <div class="about__content">
          <h3 class="about__name">milkshakes</h3>
          <p class="about__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="about__btn">
            <svg class="about__icon" width="10" height="10">
              <use href="/src/images/icons.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
