<section class="contacts-section" id="contact">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container">
    <ul class="contacts-card__list">
      <li class="contacts-card__item">
        <p class="cafe">CAFE</p>
        <h3 class="card__title">Chicago</h3>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="card__list">
          <li class="card__item">Monday - Friday</li>
          <li class="card__item-time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul>
          <li class="card__item">Saturday - Sunday</li>
          <li class="card__item-time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="card-contat__list">
          <li class="card-contact__item">
            <a class="card-contact__link" href="tel:+610383766284 "
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="card-contact__item">
            <a class="card-contact__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts-card__item">
        <p class="cafe cafe-background">FOODTRUCK</p>
        <h3 class="card__title">Los Angeles</h3>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="card__list">
          <li class="card__item">Monday - Friday</li>
          <li class="card__item-time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul>
          <li class="card__item">Saturday - Sunday</li>
          <li class="card__item-time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="card-contat__list">
          <li class="card-contact__item">
            <a class="card-contact__link" href="tel:+610383766284 "
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="card-contact__item">
            <a class="card-contact__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-card__item">
        <p class="cafe">CAFE</p>
        <h3 class="card__title">New York</h3>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="card__list">
          <li class="card__item">Monday - Friday</li>
          <li class="card__item-time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul>
          <li class="card__item">Saturday - Sunday</li>
          <li class="card__item-time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="card-contat__list">
          <li class="card-contact__item">
            <a class="card-contact__link" href="tel:+610383766284 "
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="card-contact__item">
            <a class="card-contact__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-button__list">
      <li class="contacts-button__item">
        <a
          class="contacts-button contacts-button__pink"
          href="https://goo.gl/maps/HEFBmHCvqnGk4naZ6"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >Our Locations<svg
            class="contacts-button__vector-white"
            width="10"
            height="15"
          >
            <use href="./images/icons.svg#icon-vector"></use></svg
        ></a>
        <!-- <button type="button" class="contacts-button contacts-button__pink">
          Our Locations
          <svg class="contacts-button__vector-white" width="10" height="15">
            <use href="./images/icons.svg#icon-vector"></use>
          </svg>
        </button> -->
      </li>
      <li class="contacts-button__item">
        <button
          type="button"
          class="contacts-button contacts-button__white"
          data-popup-open
        >
          Franchise
          <svg class="contacts-button__vector-pink" width="10" height="15">
            <use href="./images/icons.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

<div class="popup__bg is-hidden" data-popup>
  <div class="popup">
    <button class="popup__close" data-popup-close>
      <svg class="popup-icon__close" width="40px" height="40px">
        <use href="images/icons.svg#icon-close_40px"></use>
      </svg>
    </button>
    <form action="user-last-name">
      <p class="popup__title">Franchise</p>
      <label for="user-last-name" class="popup__label">First Name</label>
      <div class="popup__wrap">
        <input
          type="text"
          class="popup__input"
          name="user-name"
          id="user-last-name"
          required
        /><svg class="popup__svg" width="18px" height="18px">
          <use href="images/icons.svg#icon-person"></use>
        </svg>
      </div>

      <label for="user-name" class="popup__label">Last Name</label>
      <div class="popup__wrap">
        <input
          type="text"
          class="popup__input"
          name="user-name"
          id="user-name"
          required
        />
        <svg class="popup__svg" width="18px" height="18px">
          <use href="images/icons.svg#icon-person"></use>
        </svg>
      </div>
      <label for="user-tel" class="popup__label">Phone number</label>
      <div class="popup__wrap">
        <input
          type="tel"
          class="popup__input"
          name="user-tel"
          id="user-tel"
          required
        />
        <svg class="popup__svg" width="18px" height="18px">
          <use href="images/icons.svg#icon-phone"></use>
        </svg>
      </div>

      <label for="user-email" class="popup__label">Your e-mail</label>
      <div class="popup__wrap">
        <input
          type="email"
          class="popup__input"
          name="user-email"
          id="user-email"
          required
        />
        <svg class="popup__svg" width="18px" height="18px">
          <use href="images/icons.svg#icon-email"></use>
        </svg>
      </div>
      <div class="popup__btn-div">
        <button type="submit" class="popup__btn-send">Sent</button>
      </div>
    </form>
  </div>
</div>
