<section>
  <h2 class="visually-hidden">Customer Reviews</h2>
  <div data-aos="zoom-in" data-aos-duration="1000">
    <div class="slider">
      <div>
        <picture>
          <source
            srcset="
              images/testimonials/testimonials1-x1.webp 1x,
              images/testimonials/testimonials1-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              images/testimonials/testimonials1-x1.jpg 1x,
              images/testimonials/testimonials1-x2.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="slider__imeg"
            src="images/testimonials/testimonials1-x1.jpg"
            width="85"
            height="85"
            alt=""
          />
        </picture>
        <div class="slider__text-wraper">
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="slider__decoration-text"></div>
        </div>
        <div class="slider__decoration-wraper">
          <span class="slider__decoration-item"></span>
          <span class="slider__decoration-item"></span>
          <span class="slider__decoration-item"></span>
        </div>
        <p class="slider__text-city">Emily, Los Angeles</p>
      </div>
      <div>
        <picture>
          <source
            srcset="
              images/testimonials/testimonials2-x1.webp 1x,
              images/testimonials/testimonials2-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              images/testimonials/testimonials2-x1.jpg 1x,
              images/testimonials/testimonials2-x2.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="slider__imeg"
            src="images/testimonials/testimonials2-x1.jpg"
            width="85"
            height="85"
            alt=""
          />
        </picture>
        <div class="slider__text-wraper">
          <p class="slider__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis
            explicabo voluptas est sunt reprehenderit nemo. Enim, voluptas vel
            quia officiis atque ad, facilis eius voluptatibus nostrum ab, non
            quam sit.
          </p>
          <div class="slider__decoration-text"></div>
        </div>
        <div class="slider__decoration-wraper">
          <span class="slider__decoration-item"></span>
          <span class="slider__decoration-item"></span>
          <span class="slider__decoration-item"></span>
        </div>
        <p class="slider__text-city">Angelina, New York</p>
      </div>
      <div>
        <picture>
          <source
            srcset="
              images/testimonials/testimonials3-x1.webp 1x,
              images/testimonials/testimonials3-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              images/testimonials/testimonials3-x1.jpg 1x,
              images/testimonials/testimonials3-x2.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="slider__imeg"
            src="images/testimonials/testimonials3-x1.jpg"
            width="85"
            height="85"
            alt=""
          />
        </picture>
        <div class="slider__text-wraper">
          <p class="slider__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores
            amet laboriosam natus soluta! Itaque dignissimos nulla ex provident
            eveniet eius nesciunt natus, soluta aperiam quia cumque ipsa veniam
            quibusdam quisquam.
          </p>
          <div class="slider__decoration-text"></div>
        </div>
        <div class="slider__decoration-wraper">
          <span class="slider__decoration-item"></span>
          <span class="slider__decoration-item"></span>
          <span class="slider__decoration-item"></span>
        </div>
        <p class="slider__text-city">Mila, Chicago</p>
      </div>
    </div>
  </div>
</section>
