<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__caption" data-aos="zoom-in-up">
        <p class="footer__title">
          homemade ice cream
          <span class="footer__title-made">made</span>
        </p>
        <p class="footer__titles">with passion</p>
      </div>
      <div class="footer__contact" data-aos="zoom-in-up">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="https://github.com/" target="_blank">
              <svg class="footer__icon" width="18.82px" height="18.82px">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__link"
              href="https://telegram.org/"
              target="_blank"
            >
              <svg class="footer__icon" width="19.2px" height="14.93px">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__link"
              href="https://uk-ua.facebook.com/"
              target="_blank"
              aria-label="иконка facebook"
            >
              <svg class="footer__icon" width="8.8px" height="19.2px">
                <use href="./images/symbol-defs.svg#icon-Facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="contact">
          Feel free to contact
          <a class="tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
    <div class="footer__copyright">
      <p class="footer__copy">
        © 2022 - IceCream.
        <span class="footer__right">All Rights Reserved.</span>
      </p>
    </div>
  </div>
</footer>
<a class="scroll-up" href="#home">
  <svg class="arrow-top" width="20" height="20">
    <use href="images/icons.svg#shift"></use>
  </svg>
</a>
