<section class="gallery">
  <div class="gallery__container container">
    <h2 class="visually-hidden">Gallery grid</h2>
    <ul class="gallery__list">
      <li class="gallery__item gallery__item-1">
        <div class="gallery__thumb card" data-aos="zoom-in">
          <picture>
            <source media="(min-width: 1280px)" srcset="
              images/gallery/gallery-first-x1.jpg 1x,
              images/gallery/gallery-first-x2.jpg 2x" 
              type="image/jpg" />
            <source media="(min-width: 768px)" srcset="
              images/gallery/gallery-first-tab-x1.jpg 1x,
              images/gallery/gallery-first-tab-x2.jpg 2x" 
              type="image/jpg" />
            <source media="(max-width: 767.98px)" srcset="
              images/gallery/gallery-first-mob-x1.jpg 1x,
              images/gallery/gallery-first-mob-x2.jpg 2x" 
              type="image/jpg" />
            <img class="gallery__img card__inner" src="images/gallery/gallery-first-x1.jpg" alt="" loading="lazy"/>
          </picture> 
        </div>
      </li>
      <li class="gallery__item gallery__item-2">
        <div class="gallery__thumb card" data-aos="zoom-in">
          <picture>
            <source media="(min-width: 1280px)" srcset="images/gallery/gallery-second-x1.jpg 1x,
            images/gallery/gallery-second-x2.jpg 2x" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="images/gallery/gallery-second-tab-x1.jpg 1x,
            images/gallery/gallery-second-tab-x2.jpg 2x" type="image/jpg" />
            <source media="(max-width: 767.98px)" srcset="images/gallery/gallery-second-mob-x1.jpg 1x,
            images/gallery/gallery-second-mob-x2.jpg 2x" type="image/jpg" />
          <img class="gallery__img card__inner" src="images/gallery/gallery-second-x1.jpg" alt="" loading="lazy" />
          </picture>
          
        </div>
      </li>
      <li class="gallery__item gallery__item-3">
        <div class="gallery__thumb card" data-aos="zoom-in">
          <picture>
            <source media="(min-width: 1280px)" srcset="images/gallery/gallery-third-x1.jpg 1x,
              images/gallery/gallery-third-x2.jpg 2x" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="images/gallery/gallery-third-tab-x1.jpg 1x,
              images/gallery/gallery-third-tab-x2.jpg 2x" type="image/jpg" />
            <source media="(max-width: 767.98px)" srcset="images/gallery/gallery-third-mob-x1.jpg 1x,
              images/gallery/gallery-third-mob-x2.jpg 2x" type="image/jpg" />
            <img class="gallery__img card__inner" src="images/gallery/gallery-third-x1.jpg" alt="" loading="lazy" />
          </picture>
          
        </div>
      </li>
      <li class="gallery__item gallery__item-4">
        <div class="gallery__thumb card" data-aos="zoom-in">
          <picture>
            <source media="(min-width: 1280px)" srcset="images/gallery/gallery-fourth-x1.jpg 1x,
              images/gallery/gallery-fourth-x2.jpg 2x" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="images/gallery/gallery-fourth-tab-x1.jpg 1x,
              images/gallery/gallery-fourth-tab-x2.jpg 2x" type="image/jpg" />
            <source media="(max-width: 767.98px)" srcset="images/gallery/gallery-fourth-mob-x1.jpg 1x,
              images/gallery/gallery-fourth-mob-x2.jpg 2x" type="image/jpg" />
            <img class="gallery__img card__inner" src="images/gallery/gallery-fourth-x1.jpg" alt="" loading="lazy" />
          </picture>
          
        </div>
      </li>
      <li class="gallery__item gallery__item-5">
        <div class="gallery__thumb card" data-aos="zoom-in">
          <picture>
            <source media="(min-width: 1280px)" srcset="images/gallery/gallery-fifth-x1.jpg 1x,
              images/gallery/gallery-fifth-x2.jpg 2x" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="images/gallery/gallery-fifth-tab-x1.jpg 1x,
              images/gallery/gallery-fifth-tab-x2.jpg 2x" type="image/jpg" />
            <source media="(max-width: 767.98px)" srcset="images/gallery/gallery-fifth-mob-x1.jpg 1x,
              images/gallery/gallery-fifth-mob-x2.jpg 2x" type="image/jpg" />
            <img class="gallery__img card__inner" src="images/gallery/gallery-fifth-x1.jpg" alt="" loading="lazy" />
          </picture>
          
        </div>
      </li>
      <li class="gallery__item gallery__item-6">
        <div class="gallery__thumb card" data-aos="zoom-in">
          <picture>
            <source media="(min-width: 1280px)" srcset="images/gallery/gallery-sixth-x1.jpg 1x,
              images/gallery/gallery-sixth-x2.jpg 2x" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="images/gallery/gallery-sixth-tab-x1.jpg 1x,
              images/gallery/gallery-sixth-tab-x2.jpg 2x" type="image/jpg" />
            <source media="(max-width: 767.98px)" srcset="images/gallery/gallery-sixth-mob-x1.jpg 1x,
              images/gallery/gallery-sixth-mob-x2.jpg 2x" type="image/jpg" />
            <img class="gallery__img card__inner" src="images/gallery/gallery-sixth-x1.jpg" alt="" loading="lazy" />
          </picture>
          
        </div>
      </li>
      <li class="gallery__item gallery__item-7">
        <div class="gallery__thumb card" data-aos="zoom-in">
          <picture>
            <source media="(min-width: 1280px)" srcset="images/gallery/gallery-seventh-x1.jpg 1x,
              images/gallery/gallery-seventh-x2.jpg 2x" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="images/gallery/gallery-seventh-tab-x1.jpg 1x,
              images/gallery/gallery-seventh-tab-x2.jpg 2x" type="image/jpg" />
            <source media="(max-width: 767.98px)" srcset="images/gallery/gallery-seventh-mob-x1.jpg 1x,
              images/gallery/gallery-seventh-mob-x2.jpg 2x" type="image/jpg" />
            <img class="gallery__img card__inner" src="images/gallery/gallery-seventh-x1.jpg" alt="" loading="lazy" />
          </picture>
          
        </div>
      </li>
      <li class="gallery__item gallery__item-8">
        <div class="gallery__thumb card" data-aos="zoom-in">
          <picture>
            <source media="(min-width: 1280px)" srcset="images/gallery/gallery-eighth-x1.jpg 1x,
              images/gallery/gallery-eighth-x2.jpg 2x" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="images/gallery/gallery-eighth-tab-x1.jpg 1x,
              images/gallery/gallery-eighth-tab-x2.jpg 2x" type="image/jpg" />
            <source media="(max-width: 767.98px)" srcset="images/gallery/gallery-eighth-mob-x1.jpg 1x,
              images/gallery/gallery-eighth-mob-x2.jpg 2x" type="image/jpg" />
            <img class="gallery__img card__inner" src="images/gallery/gallery-eighth-x1.jpg" alt="" loading="lazy" />
          </picture>
          
        </div>
      </li>
      <li class="gallery__item gallery__item-9">
        <div class="gallery__thumb card" data-aos="zoom-in">
          <picture>
            <source media="(min-width: 1280px)" srcset="images/gallery/gallery-ninth-x1.jpg 1x,
              images/gallery/gallery-ninth-x2.jpg 2x" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="images/gallery/gallery-ninth-tab-x1.jpg 1x,
              images/gallery/gallery-ninth-tab-x2.jpg 2x" type="image/jpg" />
            <source media="(max-width: 767.98px)" srcset="images/gallery/gallery-ninth-mob-x1.jpg 1x,
              images/gallery/gallery-ninth-mob-x2.jpg 2x" type="image/jpg" />
            <img class="gallery__img card__inner" src="images/gallery/gallery-ninth-x1.jpg" alt="" loading="lazy" />
          </picture>
          
        </div>
      </li>
      <li class="gallery__item gallery__item-10">
        <div class="gallery__thumb card" data-aos="zoom-in">
          <picture>
            <source media="(min-width: 1280px)" srcset="images/gallery/gallery-tenth-x1.jpg 1x,
              images/gallery/gallery-tenth-x2.jpg 2x" type="image/jpg" />
            <source media="(min-width: 768px)" srcset="images/gallery/gallery-tenth-tab-x1.jpg 1x,
              images/gallery/gallery-tenth-tab-x2.jpg 2x" type="image/jpg" />
            <source media="(max-width: 767.98px)" srcset="images/gallery/gallery-tenth-mob-x1.jpg 1x,
              images/gallery/gallery-tenth-mob-x2.jpg 2x" type="image/jpg" />
            <img class="gallery__img card__inner" src="images/gallery/gallery-tenth-x1.jpg " alt="" loading="lazy" />
          </picture>
          
        </div>
      </li>
    </ul>
  </div>
</section>