<section class="products">
  <div class="container">
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__content">
          <h3 class="products__name">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products__btn">
            <svg class="products__icon" width="10" height="10">
              <use href="/src/images/icons.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__content">
          <h3 class="products__name">ice coffee</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products__btn">
            <svg class="products__icon" width="10" height="10">
              <use href="/src/images/icons.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__content">
          <h3 class="products__name">milkshakes</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products__btn">
            <svg class="products__icon" width="10" height="10">
              <use href="/src/images/icons.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
