.about {
    padding-top: 60px;

    .container {
        display: flex;
    }

}

.about-list {
    display: flex;

    @include tablet {
        margin-right: 30px;
    }

    @include desktop {
        margin-right: 90px;
    }
}

.top-text {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;

}

.about-content__top-text {

    font-size: 18px;
    line-height: 166;
    color: #FFA5BA;

    @include tablet {
        font-size: 26px;
        line-height: 1.15;
    }

    @include desktop {
        font-size: 30px;
        line-height: 1.133;
        letter-spacing: 0.04em;
    }
}

.about-content__title {

    font-size: 34px;
    line-height: 1.147;
    letter-spacing: 0.04em;

    color: #D41443;

    @include tablet {
        font-size: 48px;
        line-height: 1.146;
    }

    @include desktop {
        font-size: 58px;
        line-height: 1.138;
        letter-spacing: 0.06em;
    }

}

.content-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
}

.about-content__bottom-text {

    font-size: 12px;
    line-height: 1.58;
    color: #000000;

    @include tablet {
        font-size: 14px;
        line-height: 1.76;
    }

    @include desktop {

        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.04em;

    }
}

.about-content__text {
    font-size: 12px;
    line-height: 1.62;
    color: #907E82;

    @include tablet {
        font-size: 14px;
        line-height: 1.76;
        letter-spacing: 0.04em;
    }

    @include desktop {
        line-height: 1.94;
    }
}

.about-content__btn {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D414;
    background: #FFFFFF;
    border-radius: 22px;
}